.first {
    background-color: aliceblue;
}

.second {
    background-color: hotpink;
}

.third {
    background-color: rgba(150, 250, 150, 0.5);
}

.fourth {
    background-color: #ff00ff;
}

.fifth {
    background-color: #0fadad;
}