<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./main.css">
    <title>Document</title>
</head>
<body>
    <div class="container">
        <div class="navigation">
            <ul>
                <li>
                    <a href='#'>Home</a>
                </li>
                <li>
                    <a href='#'>About</a>
                </li>
                <li>
                    <a href="#">Contact</a>
                </li>
                <li>
                    <a href="#">Blog</a>
                </li>
            </ul>
        </div>
        <div class="headerimage">
            <img src="./html5-css3.png" alt="html5 css3 image">
        </div>
        <div class="post1">
            <img src="./300x200.png" alt="post image">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Corrupti suscipit amet saepe eligendi accusantium alias nobis autem sunt! Eum, quidem?</p>
        </div>
        <div class="post2">
            <img src="300x200.png" alt="post2 image">
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Error, ipsa laborum dolore consequatur saepe illo debitis sequi excepturi quo aliquam ea. Quos adipisci nemo esse.</p>
        </div>
        <div class="post3">
            <ul>
                <li>Rebuilding Slack.com</li>
                <li>Zasto bootcamp format?</li>
                <li>React - prozor u svet web aplikacija</li>
                <li>Najvece zablude o programerima u Srbiji</li>
            </ul>
        </div>
        <div class="post4">
            <img src="./300x200.png" alt="post4 image">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus perferendis vel rerum exercitationem asperiores temporibus iure repellendus perspiciatis unde impedit!</p>
        </div>
        <div class="post5">
            <img src="./300x200.png" alt="post5 image">
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Laboriosam quidem voluptas illo, minima unde voluptatibus?</p>
        </div>
        <div class="post6">
            <img src="./300x200.png" alt="post6 image">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam accusamus quibusdam rem odio? Provident illo, dicta sint modi accusantium quidem.</p>
        </div>
        <div class="post7">
            <img src="./300x200.png" alt="post7 image">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis, unde cupiditate? Libero.</p>
        </div>
        <div class="post8">
            <img src="./300x200.png" alt="post8 image">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Impedit, est amet illum nobis dolor placeat magni dolores officiis accusamus error!</p>
        </div>
        <div class="post8">
            <img src="./300x200.png" alt="post9 image">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium laborum accusantium dolores hic veritatis maiores?</p>
        </div>
        <div class="footer">
            <p>
                &copy BitStudent
            </p>
        </div>
    </div>
</body>
</html>