* {
    padding: 0;
    margin: 0;
}

form {
    background-color: rgb(235, 228, 228);
    width: 400px;
    height: 540px;
    margin: 20px auto;
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
    border-top-left-radius: 15px;
    border-bottom-right-radius: 15px;
    color: rgb(6, 12, 90);
}

span {
    color: darkgoldenrod;
}


input {
    display:inline-block;
    position: relative;
    left: 0px;
    margin: 0 auto 20px auto;
    border-radius: 5px;
    border-color: white;
    font-size: 16px;
    height: 30px;
    box-shadow: 0 0 11 2 #000000;
}

h1 {
    margin: 20px auto 0 auto;
    text-align: center;
}

label {
    position: relative;
    left: 40px;
}

label:hover {
    cursor: auto;
}

#submit {
    display: block;
    width: 320px;
    height: 40px;
    background-color: red;
    color: white;
    text-align: center;
    border-radius: 5px;
}

#submit:hover {
    cursor: pointer;
}