body {
    width: 100%;
}

.first {
    height: 100px;
    width: 450px / 500px * 100%;
    background-color: darkgray;
    border: red 3px solid;
}

.second {
    @extend .first;
    border-color: blue;
}

.third {
    @extend .first;
    border-color: green;
}