<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="main.css">
    <title>z-index</title>
</head>
<body>
    <div class="st"></div>
    <div class="nd"></div>
    <div class="rd"></div>
    <hr>
    <div class="st" id='st'></div>
    <div class="nd" id='nd'></div>
    <div class="rd" id='rd'></div>
    <!--third section-->
    <div class="st" id='fst'></div>
    <div class="nd" id='snd'></div>
    <div class="rd" id='trd'></div>
</body>
</html>