*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    margin: 0 auto;
}

body {
    background-color: rgb(223, 215, 215);
    width: 90%;
    margin: 10px auto;
}

form {
    margin: 10px auto;
}
.chatArea {
    margin: 10px auto;
    display: block;
    width: 90%;
    height: 90vh;
    border: none;
    background-color: white;
    overflow: scroll;
}
input {
    display: block;
    margin: 0 auto;
}
.submit {
    width: 18%;
    position: relative;
    left: 1%;
    background-color: red;
    color: white;
    font-weight: bold;
    border: none;
    padding: 5px 0;
}

.message {
    margin: 0 auto;
    width: 70%;
    float: left;
    position: relative;
    left: 5%;
    border: none;
    padding: 5px 0;
}

.chatArea p {
    background-color: rgb(223, 215, 215);
    margin: 20px;
    padding: 10px;
    color: black;
    width: fit-content;
    border-radius: 10px;
}